.container {
  display: flex;
  justify-content: center;
}

.main {
  padding: 0 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;

  h1 {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
    padding: 50px;
    border: solid 2px #2b2b2b;
  }

  img {
    grid-column: 1;
    grid-row: 2;
    width: 50vw;
    max-width: 600px;
    max-height: 600px;
    object-fit: cover;
  }
}

.publishedAt {
  text-align: right;
}

.articleLink,
.articleContent {
  grid-column: 2;
  grid-row: 2;
}

@media (max-width: 720px) {
  .main {
    padding: 0 20px;

    h1 {
      font-size: 20px;
      padding: 30px 10px;
    }

    img {
      grid-column: 1 / 3;
      grid-row: 2;
      width: 100%;
      max-height: 100%;
    }

    .articleContent {
      grid-column: 1 / 3;
      grid-row: 3;
    }
  }
}
