.menuGrid {
  z-index: 2;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  div {
    background-color: #e6e6e6;
    text-align: center;
    max-width: calc(100vw / 8);
    border-top: solid 2px #2b2b2b;
    border-bottom: solid 2px #2b2b2b;
    transition: 0.2s ease-in-out;
  }

  div:hover {
    background-color: #2b2b2b;
    color: #e6e6e6;
    transform: translateY(-5px);
  }
  .active {
    background-color: #2b2b2b;
    color: #e6e6e6;
  }
}

@media (max-width: 920px) {
  .menuGrid {
    display: none;
  }
}
