@font-face {
  font-family: "Austragen";
  src: url("/fonts/Austragen.TTF");

  font-family: "Sole Head";
  src: url("/fonts/Sole-Headline.otf");

  font-family: "Sole Subhead";
  src: url("/fonts/Sole-Subhead.otf");

  font-family: "Sole Text";
  src: url("/fonts/Sole-Text.otf");
}

html,
body {
  background-color: #e6e6e6;
  color: #2b2b2b;
  font-family: "Sole Text";
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}