.mainGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.dailyArticle {
  padding: 20px;
  grid-column: 1;
  border-top: solid 2px #2b2b2b;
  border-right: solid 2px #2b2b2b;
  height: 100%;
}

.stickyArticle {
  position: sticky;
  top: 70px;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}

.articleList {
  padding: 0 20px;
  grid-column: 2;
  border-top: solid 2px #2b2b2b;

  img {
    width: 100%;
  }
}

.oneArticle{
  padding: 75px 0;
  border-bottom: solid 2px #2b2b2b;
}

.noMatch {
  text-align: center;
  margin: 150px;
}

.articleList div:nth-child(1){
  padding-top: 20px;
}

@media (max-width: 1320px) {
  .mainGrid {
    grid-template-columns: 1fr 2fr;
  }

  .stickyArticle {

    img {
      max-height: 50vh;
    }
  }
}

@media (max-width: 920px) {
  .stickyArticle {
    img {
      max-height: 150px;
    }
  }
}

@media (max-width: 720px) {
  .mainGrid {
    grid-template-columns: 1fr;
  }

  .stickyArticle {
    top: auto;
  }

  .dailyArticle {
    grid-row: 1;
    border: none;
    padding-bottom: 50px;
  }

  .articleList {
    padding-top: 50px;
    grid-column: 1;
    grid-row: 2;

    img {
      max-height: 150px;
      object-fit: cover;
    }
  }
}
